In [1]:
from datasets import load_dataset
import googletrans

In [10]:
dataset = load_dataset('lighteval/mmlu', 'all', split = 'auxiliary_train')
df_mmlu = dataset.to_pandas()
df_mmlu.head(5)

,question,subject,choices,answer
0,Davis decided to kill Adams. He set out for Ad...,,"[Adams only., Brooks only., Case only., Adams ...",1
1,A state statute requires any person licensed t...,,"[guilty, because this is a public welfare offe...",3
2,"Lender met Borrower on the street, demanded th...",,"[Yes, because Mann threatened to use deadly fo...",2
3,Peter sued Don for breach of contract. The cou...,,[must permit Don to answer if he had objected ...,1
4,Ames had painted Bell's house under a contract...,,[partial breach of contract only if Ames had p...,2

In [11]:
sample_10_df = df_mmlu.sample(n=10, random_state=42)
translated_df = sample_10_df.copy()
translator = googletrans.Translator()
for index, row in sample_10_df.iterrows():
    translated_df.loc[index, 'question'] = translator.translate(row['question'], dest='ta').text
    translated_df.loc[index, 'choices'] = translator.translate(row['choices'], dest='ta').text

In [12]:
translated_df

,question,subject,choices,answer
56038,லண்டன் மற்றும் பிரிஸ்டலில் உள்ள ஆராய்ச்சியாளர்...,,['மனச்சோர்வடைந்த பெண்களில் பத்து சதவிகிதம் மனச...,1
60079,காவாய் போகாதே. மற்ற ஹவாய் தீவுகளுக்குச் செல்லு...,,['இயற்கையை நேசிப்பவர்கள்.' 'நகர வாழ்க்கையை விர...,0
37144,ஹீதர் ஜாக் மற்றும் அவரது இரண்டு குழந்தைகள் உட்...,,['ஒரு ஏழை குடும்பத்திற்கு இரவு உணவு தயாரித்தல்...,3
91169,"திங்கட்கிழமை, ஏப்ரல் 17 அன்புள்ள கிராம்ப் அவர்...",,['சிவப்பு' 'நீலம்' 'பச்சை' 'ஊதா'],3
71811,"ஒரு குளிர்ந்த குளிர்கால நாளில், ஒரு நரி தாய் க...",,['அது அவளை ஏரியில் நீந்தச் சொன்னது.' 'அது அவளை...,3
58972,பிரான்சின் முக்கியமான சுற்றுலாத் தலங்களில் ஒன்...,,['வரைபடங்கள் பழையவை என்று நம்ப வேண்டாம்.'\n 'அ...,3
30662,காதல் நிறைய குற்றங்களை மறைக்க முடியும் என்கிறா...,,['ஜெஸ்ஸி என்று பெயரிடப்பட்ட நாய்' 'காதல் புயலை...,1
14701,புனைகதைகளைப் படிக்கும் கலை பெரும்பாலும் அர்த்த...,,"[""வாசகர்களின் யூகம்."" 'கதையின் அடிப்படைகள்.' '...",1
63317,என் பெற்றோர் எப்போதும் என்னை வலுவான மதிப்புகள்...,,['நம்பிக்கை' 'கண்டிப்பான' 'பிடிவாத' 'உதவி'],3
88102,"சில நல்ல கண்டுபிடிப்புகள் உள்ளன, அவை ஒரு காரணத...",,['குழந்தைகள் அதிகமாக டிவி பார்ப்பதைத் தடுக்க த...,0